* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.img-fondo {
  background-image: url(../img/fondoMaderaNegra.jpg);
}
.contacto {
  color: white;
  text-align: center;
}
h3 {
  margin: 2rem;
  padding: 0.5rem;
  color: white;
  text-align: center;
}
.footer {
  padding: 9rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 20rem;
}
.amoung:hover,
.amoung:focus-within {
  transform: scale(1.05);
}
.img {
  margin: 2rem;
  padding: 1rem;
  padding-left: 1rem;
}
form {
  color: white;
}
