* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
}
ul {
  width: 100%;
  margin: auto;
  padding: auto;
  list-style-type: none;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 0 1 300px;
  gap: 2rem;
  background-color: #0f0f0f;
}
.nav a {
  display: block;
  font: bold 15px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.nav li:hover a {
  background-color: gray;
}
.nav {
  margin: 0;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.text {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}
.titulo {
  margin: 5px;
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}
.texto {
  margin: 5rem;
  padding: 5px;
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  color: white;
}
.img-fondo {
  background-image: url(../img/fondoMaderaNegra.jpg);
}
footer {
  padding: 3.5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 20rem;
}
.amoung:hover,
.amoung:focus-within {
  transform: scale(1.05);
}

.img {
  width: 100%;
  height: auto;
  margin: 2rem;
  padding: 1rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1rem;
  }
  header {
    width: 100%;
  }
}
