* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  justify-content: center;
}
ul {
  margin: auto;
  padding: auto;
  list-style-type: none;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 0 1 300px;
  gap: 2rem;
  background-color: #0f0f0f;
}
.barra-navegacion a {
  display: block;
  font: bold 15px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.barra-navegacion li:hover a {
  background-color: gray;
}
.barra-navegacion {
  margin: 0;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.texto {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 4 00;
  font-size: 1.5rem;
  color: white;
}

.img {
  margin: 2rem;
  padding: 1rem;
  padding-left: 1rem;
}
.info {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.nuestras-sucursales {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
article {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem;
}
article img {
  order: auto;
  align-self: auto;
}
h3 {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.img-fondo {
  background-image: url(../img/fondoMaderaNegra.jpg);
}
footer {
  padding: 3.5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 20rem;
}
